@charset "UTF-8";

:root {
--cor-complementar: #3F4345;
--cor-principal: #284D55;
}

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top, #284D55 20%,#5F7E85, #88b0b9);
    }

    div#formulario > h1 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #284D55;
    }

    div#formulario > p {
        text-align: justify;
        margin-bottom: 30px;
        font-size: 1em;
    }

    section#login {
        width: 65vw;
    }

    section#login > div#imagem {
        float: left;
        width: 68%;
        height: 140%;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
        margin-top: -50px;
        margin-right: -70px;
    }

    form > a.botao {
        width: 95%;
    }

    input {
        padding: 10px;
        width: 30vw;
        border-radius: 5px;
        border: none;
    }

    form > div.campo {
        background-color: rgb(223, 223, 223);
        padding: 15px;
        height: 100px;
        margin-top: 20px;
    }

    form > input[type=submit] {
        display: block;
        font-weight: bold;
        padding: 10px;
        margin: auto;
        margin-top: 35px;
        width: 100%;
        height: 40px;
        background-color: var(--cor-principal);
        border: 1px solid black;
        color: white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
        border-radius: 2px;
        cursor: pointer;
    }

    .material-icons {
        font-size: 25px;
    }

    input {
        padding: 10px;
        width: 30vw;
        border-radius: 5px;
        border: none;
        height: 1.9em;
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) and (max-width:1220px) {

    body {
        background-image: linear-gradient(to top, #284D55 20%,#5F7E85, #88b0b9);
    }

    section#login {
        width: 75vw;
    }

    div#formulario > h1 {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #284D55;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 140%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
        margin-top: -30px;
        margin-right: -50px;
    }

    div#formulario > p {
        text-align: justify;
        margin-bottom: 10px;
        font-size: 1em;
    }

    .material-icons {
        font-size: 30px;
        margin-top: 5px;
    }

    form > a.botao {
        width: 96.5%;
    }

    input {
        padding: 10px;
        width: 40vw;
        border-radius: 5px;
        border: none;
        height: 1.9em;
        margin-top: 10px;
    }

    form > input[type=submit] {
        display: block;
        font-weight: bold;
        padding: 10px;
        margin: auto;
        margin-top: 40px;
        width: 100%;
        height: 40px;
        background-color: var(--cor-principal);
        border: 1px solid black;
        color: white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
        border-radius: 2px;
        cursor: pointer;
    }

    form > div.campo {
        background-color: rgb(223, 223, 223);
        padding: 15px;
        height: 100px;
        margin-top: 20px;
    }

}