@charset "UTF-8";

:root {
--cor-complementar: #3F4345;
--cor-principal: #284D55;
}

/*
    Paleta de cores:
    Azul: cor principal
    Cinza: cor complementar
    Preto e Branco ( 000000 e FFFFFF )

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    background-color: var(--cor-principal);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    width: 250px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--cor-complementar) url(../imagens/imagem-m.jpg);
    width: 450px;
    height: 300px;
    margin: -100px;
    display: block;
    box-shadow: 0px 0px 5px black;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

section#login > div#formulario {
    display: block;
    margin-top: 104px;
    margin-left: -80px;
    width: 400px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #284D55;
}

div#formulario > p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 0.9em;
}

form > div.campo {
    background-color: rgb(223, 223, 223);
    padding: 15px;
}

div.campo > label {
    display: none;
}

input {
    padding: 10px;
    width: 53vw;
    border-radius: 5px;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    background-color:  var(--cor-principal);
    border: 1px solid black;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    border-radius: 2px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #1b343a;
}

form > a.botao {
    display: block;
    font-weight: 500;
    padding: 8px;
    margin: auto;
    margin-top: 15px;
    width: 95.8%;
    background-color:  var(--cor-principal);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    background-color: #ffffff;
}

form > a.botao:hover {
    background-color: #cecece;
    color: rgb(0, 0, 0);
}